<div class="container">
  <div class="position-absolute top-50 start-50 translate-middle">
    <div class="text-center">
      <p class="fs-3 fst-italic">
        This E-library is developed by <br>
        <span class="text-uppercase fw-bold">
        Toma Vasilev
        </span>
        <br>
        technologies used <br>
        <span class="text-uppercase fw-bold">
          Spring REST
        </span>
        <br>
        <span class="text-uppercase fw-bold">
          Angular
        </span>
        <br>
        <span class="text-uppercase fw-bold">
          MySQL
        </span>

      </p>
    </div>
  </div>
</div>
