<div class="container">
  <div class="position-fixed top-50 start-50 translate-middle">
    <div class="">
      <h1 class="h1 fw-bold text-center">
        Update account
      </h1>
    </div>
    <br>
    <form [formGroup]="updateForm" (ngSubmit)="update()">
      <div class="grid-gap-0">
        <div class="form-floating p-1 g-col-6">
          <input type="password" class="form-control" required placeholder="" id="password-label" [formControlName]="'password'">
          <label for="password-label">Enter password</label>
        </div>
        <div class="form-floating p-1 g-col-6">
          <input type="text" name="" id="first-name-label" placeholder="" required class="form-control" [formControlName]="'firstName'">
          <label for="first-name-label">Enter first name</label>
        </div>
        <div class="form-floating p-1 g-col-6">
          <input type="text" name="" id="last-name-label" required placeholder="" class="form-control" [formControlName]="'lastName'">
          <label for="last-name-label">Enter last name</label>
        </div>
        <div class="form-floating p-1 g-col-6">
          <input type="text" name="" id="phone-number-label" required placeholder="" class="form-control" [formControlName]="'phoneNumber'">
          <label for="phone-number-label">Enter phone number</label>
        </div>
        <div class="" style="padding-top: 20px;">
         <span class="d-flex justify-content-center ">
         <button type="submit" class="btn btn-primary">Update</button>
           </span>
        </div>
      </div>
    </form>
  </div>
</div>
